#owl-slider-home{
  .item{
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    img {
     height: 85vh;
     width: 100%;
     object-fit: cover; // here
    }
 }
}

.owl-theme{
  .owl-nav{
    z-index: 99;
    top: 0;
    color: $c-white;
    margin-top: 16%;
    position: absolute;
    width: 100%;
    font-size: 80px;

    .owl-prev,
    .owl-next{
      outline: none !important;
      background-color: transparent !important;
      @extend .trans;

      &:hover{
        color: $c-gray-light;
      }
    }

    .owl-prev{
      left: 0;
      float: left;
    }

    .owl-next{
      right: 0;
      float: right;
    }
  }

  .owl-dots{
    position: absolute;
    width: 100%;
    margin-top: -30px;
  }
}

.menu-icons{
  .item-icon{
    display: inline-block !important;
    text-align: center;
  }

  .icon-menu{

  }

  .icon-wishlist{
    width: 40px;
    margin-top: -9px;
  }
  .icon-user{
    width: 40px;
  }
  .icon-loupe{
    width: 34px;
    margin-top: -6px;
  }
}

.banner-home{
  position: relative;
  width: 100%;

  .logo{
    position: absolute;
    z-index: 99;
    margin: 30px;
    width: 250px;
  }
}

.menu-top{
  .logo-fix{
    padding: 0;
    display: block;
  }
  .logo-fix-img{
    height: 60px;
    margin: auto;
  }
}

.logo-fix{
  img{
    @extend .trans;
    &:hover{
      opacity: 0.7;
    }
  }
}

.button_container{
  @extend .trans;
  &:hover{
    span{
      opacity: 0.7;
    }
  }
}

.top-bar{
  .icon-ig{
    color: $c-gray-f7;
    display: block;
    margin: 6px 0 0 10px;

    i{
      @include border-radius(50%);
      background-color: $c-green;
      padding: 4px 5px;
      font-size: 20px;
    }
  }
}

.cart-link{
  text-align: right;
  display: inline-block;
  right:0;
  float: right;
  padding-top: 12px;

  &:hover{

  }
}

/* menu */
.button_container {
  position: relative;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  margin: 16px 0;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $c-white;
    }
    .middle {
      opacity: 0;
      background: $c-white;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $c-white;
    }
  }

  span {
    background: $c-white;
    border: none;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $c-black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 1000;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      font-family: $ff-default;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }

    .button_container{
      span {
        background-color: $c-white;
      }

      &.active{
        position: absolute;
        margin: 50px;
      }
    }
  }

  nav {
    position: relative;
    height: 50%;
    top: 10%;
    //transform: translateY(-50%);
    font-size: 50px;
    font-family: $ff-default;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      //height: 25%;
      height: auto;
      padding: 15px 0;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $c-white;
        text-decoration: none;
        overflow: hidden;
        font-size: 3rem;

        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $c-gray-f7;
          transition: .35s;
        }

        &:hover{
          color: $c-gray-f7;
        }
      }
    }
  }
}

.menu-top{
  a{
    color: $c-green;
    font-weight: 700;
  }

  &:after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: $c-black;
  }
}

.topo-text{
  text-align: right;
  padding: 3px 0 6px;
  margin: 0;
  font-family: $ff-default;
  font-size: 14px;
  color: $c-white;
}

.cart-link{
  position: relative;

  .qty{
    position: absolute;
    background-color: $c-black;
    color: $c-white;
    padding: 0 4px 1px 4px;
    margin: -7px 0 0 -1px;
    line-height: 18px;
    font-size: 14px;
    @include border-radius(50%);
    z-index: 99;
    /*border: 1px solid $c-white;*/
  }
}

.menu-fixed{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  .button_container.active{
    z-index: 1001;
  }
}

.list-header-categories{
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0;

  .header-link-category{
    .fa-circle{
      color: $c-black !important;
    }
  }
  li{
    margin: 0 15px 0 25px;
    position: relative;

    &:after{
      content: '●';
      display: inline-block;
      position: absolute;
      font-size: 10px;
      top: 0;
      right: 0;
      margin: 5px -22px 0 0;
    }

    &:last-child{
      &:after{
        display: none;
      }
    }

    a{
      font-size: 16px;
      color: $c-black;

      &:hover{
        opacity: 1;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        /*text-decoration: line-through !important;*/
      }

      .fa-circle{
        padding-right: 15px;
        font-size: 12px;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

.list-dropdown{
  display: none !important;
/*  @extend .trans;*/
  height: 0;
  overflow: hidden;
  @extend .trans;
  text-align: left;

  .dropdpwn-list-item{
    padding: 5px 15px;

    a{
      font-size: 1.8rem;
    }
  }
}

.dropdown-custom{
  .fa-caret-down{
    font-size: 2rem;
    margin-left: 10px;
  }

  &:hover{
    .list-dropdown{
      display: block !important;
      height: auto;
    }
  }
}

.header-container{
  border-bottom:1px solid $c-black;
  min-height: 60px;
}

.dropdown-item{
  color: $c-black !important;
}

.btn-dropdown-black{
  background-color: $c-black;
  padding: 10px 20px 10px 30px;
  font-weight: 700;

  &:after{
    margin-left: 10px;
  }
}

.content-list-categories{
  padding: 4px;
  display: block;
  text-align: center;

  .fa-serfver{
    font-size: 12px;
  }
}

.btn-dropdown-categories{
  background-color: transparent;
  font-size: 12px;

  &:after{
    display: none;
  }

  .dropdown-menu{
    left: -60px !important;
    top: 10px !important;
  }

  .cart-link{
    text-align: right;
  }
}

.form-search{
  margin: 0;
  padding: 0;
}
/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 450px) {
  .dropdown-categories{
    display: block;
  }

  .list-header-categories{
    display: none;
  }

  .topo-text{
    font-size: 12px;
    text-align: center;
  }

  .content-menu{
    .button_container{
      margin: 19px 5px 14px 5px;
    }
  }

  .content-cart{
    .cart-link{
      text-align: center;
      display: block;
      margin: 0 auto;
      position: relative;
      width: 100%;
      padding-top: 3px;
    }
  }

  .overlay.open .button_container.active{
    margin: 20px;
  }
}

.mobile-buttons{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 97;
  max-height: 80px;
  padding-bottom: 5px;

  .menu-icons{
    width: 100%;

    li{
      height: auto;
      width: calc((100% / 3) - 3px);
      padding: 10px;

      &:nth-child(1),
      &:nth-child(2){

      }
    }
  }
}

@media (min-width: $min-xs-minor) {

  .mobile-menu{
    .mobile-menu-item{
      a{
        font-size: 2rem;
      }
    }
  }
  .banner-home{
    .logo{
      img{
        max-height: 150px;
      }
    }
  }
  .menu-top{
    .logo-fix{
      margin: 19px 10px 0 15px;
    }

    .logo-fix-img{
      height: auto;
      margin: 16px auto 0;
      width: 100%;
      max-height: 40px;
    }
  }

  .content-cart{
    .cart-link{
      text-align: right;
      display: block;
      margin: 10px 5px;
      position: relative;
      width: auto;
      padding-top: 3px;

      .qty{
        margin: -8px 0 0 -11px;
      }
    }
  }
}

@media (min-width: 425px) {
  .menu-top{
    .logo-fix-img{
      margin: -3px auto 0;
      width: auto;
      max-height: 30px;
    }
  }

  .content-cart{
    .cart-link{
      margin: 9px 5px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .list-header-categories{
    display: block;
  }

  .dropdown-categories{
    display: none;
  }


  .hidden-desktop{
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-home{
    .logo{
      img{
        max-height: 300px;
      }
    }
  }

  .menu-top{
    .logo-fix{
      margin: 20px auto 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .menu-top{
    .logo-fix{
      margin: 15px auto 0;
    }
  }
}