.icon{
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;

  &:hover{
    opacity: 0.7;
  }
}

.icon-cart{
  height: 30px !important;
  color: #fff !important;
  filter: invert(1);

  svg{
    background-color: #fff !important;
  }
}
