.list-products{

  .product-box{
    text-align: center;
    position: relative;

    .box-details{
      visibility: hidden !important;
      @extend .trans2;
    }

    &:hover{
      img{
        opacity: 0.7;
      }

      .box-details{
        visibility: visible !important;
      }

      .add_to_cart_button,
      .product_type_variable{
        display: inline-block;
        left: 50%;
        top: 40%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &:hover{
          background-color: $c-black;
          color: $c-white;
        }
      }
    }

    .title-product{
      display: block;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      padding-top: 5px;
      color: $c-black;
      margin-bottom: 0;
    }

    .price{
      font-size: 1.2rem;
      text-align: center;
      padding-bottom: 5px;
      display: block;
      color: $c-black;
      font-weight: 400;

      .woocommerce-Price-currencySymbol{
        padding-right: 5px;
      }
    }

    .add_to_cart_button,
    .product_type_variable{
      display: none;
      position: absolute;
      z-index: 99;
    }
  }

  .product-img{
    img{
      margin:auto;
    }
  }
  .product-item{
    //margin: 0 0 20px 0;
    margin: 0 auto;

    .description{
      height: 35px;
      display: block;
    }
  }
}

.add-to-cart-container{
  width: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 40% 25%;
  border-color: $c-black;
  @extend .trans;
}

.eqWrap {
  display: flex;
  width: 100%;
}

.equalHMV {
  //background-color: #d1d1d1;
  position: relative;

  &:hover{

    .add-to-cart-container,
    .yith-wcwl-add-to-wishlist{
      display: inline-block;
    }
  }
}

.equalHMWrap {
  justify-content: space-between;
}

.equalHMVWrap {
  flex-wrap: wrap;
}

.yith-wcwl-add-to-wishlist{
  position: absolute;
  text-align: center;
  background: $c-black;
  padding: 8px 27px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 15px;
  display: none;

  &:hover{
    background-color: $c-white;
    color: $c-black;
  }
}

.yith-wcwl-add-button{
  width: 60px;
  height: 28px;
}
.yith-wcwl-add-to-wishlist a{
  color: $c-white;
}
@media (min-width: 250px) {
  .equalHMV {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 450px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .equalHMV {
    width: 49%;
    margin: 1%;


  }

  .equalHMV:nth-of-type(2n) {
    margin-right: 0;
  }

  .equalHMV:nth-of-type(2n+1) {
    margin-left: 0;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .equalHMV {
    width: 32%;
    margin: 0 1%;
  }

  .equalHMV:nth-of-type(2n),
  .equalHMV:nth-of-type(2n+1) {
    margin: 0 1% 0;
  }

  .equalHMV:nth-of-type(3n) {
    margin-left: 0;
  }

  .equalHMV:nth-of-type(3n+1) {
    margin-right: 0;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
