#billing_country_field{
  display: none;
}

.woocommerce-checkout{
  .form-row{
    width: 100%;
    margin-left: 0 !important;

    label{
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  .col-1,
  .col-2{
    width: 100%;
    max-width: 100%;

    .woocommerce-input-wrapper{
      width: 100%;
    }
  }

  #shipping_country_field{
    display: none;
  }
}

.select2-container--default .select2-selection--single{
  background-color: #f2f2f2;
  box-shadow: inset 0 1px 1px;
  border-radius: 0 !important;
  padding: .5180469716em 0.618047em;
  height: 43px;

  .select2-selection__arrow{
    top: 8px;
  }
}


.select2 .select2-container .select2-container--default{
  width: 100% !important;
}

.woocommerce-terms-and-conditions-link{
  font-weight: 700;
  text-decoration: underline !important;
}