@charset "UTF-8";
/* Menu Variables */
/* MEDIA QUERIES VARIABLES */
/* { VARIABLES } */
/* background-colors */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
.bg-black {
  background-color: #000000; }

.bg-pink {
  background-color: #b2b2b2; }

.bg-white {
  background-color: #ffffff; }

/* Font Colors */
.c-white {
  color: #ffffff; }

.c-black {
  color: #000000; }

.c-pink {
  color: #b2b2b2; }

.c-green {
  color: #4bbf5a; }

/* Responsive Variables */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/* implements */
.trans, .input-custom, .owl-theme .owl-nav .owl-prev,
.owl-theme .owl-nav .owl-next, .logo-fix img, .button_container, .list-dropdown, .flex-grid .box-internal, a, .add-to-cart-container, .yith-wcwl-add-to-wishlist .yith-wcwl-add-button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.trans2, .list-products .product-box .box-details {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

.link-underline {
  position: relative;
  display: inline-block; }
  .link-underline:after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4bbf5a;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; }
  .link-underline:hover:after {
    visibility: visible;
    transform: scaleX(1); }

@font-face {
  font-family: 'Novecentosanswide-Light';
  src: url("fonts/novecentos/light/Novecentosanswide-Light.otf") format("opentype"), url("fonts/novecentos/light/Novecentosanswide-Light.eot") format("embedded-opentype"), url("fonts/novecentos/light/Novecentosanswide-Light.ttf") format("truetype"), url("fonts/novecentos/light/Novecentosanswide-Light.svg#Novecentosanswide-Normal") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Novecentosanswide-Bold';
  src: url("fonts/novecentos/bold/Novecentosanswide-Bold.otf") format("opentype"), url("fonts/novecentos/bold/Novecentosanswide-Bold.eot") format("embedded-opentype"), url("fonts/novecentos/bold/Novecentosanswide-Bold.ttf") format("truetype"), url("fonts/novecentos/bold/Novecentosanswide-Bold.svg#Novecentosanswide-Normal") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Novecentosanswide-Normal';
  src: url("fonts/novecentos/normal/Novecentosanswide-Normal.otf") format("opentype"), url("fonts/novecentos/normal/Novecentosanswide-Normal.eot") format("embedded-opentype"), url("fonts/novecentos/normal/Novecentosanswide-Normal.ttf") format("truetype"), url("fonts/novecentos/normal/Novecentosanswide-Normal.svg#Novecentosanswide-Normal") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out; }
  .icon:hover {
    opacity: 0.7; }

.icon-cart {
  height: 30px !important;
  color: #fff !important;
  filter: invert(1); }
  .icon-cart svg {
    background-color: #fff !important; }

.icon-menu path {
  fill: white; }

.icon-menu:hover path {
  fill: #d2d2d269; }

.btn-outline-primary,
.wpcf7 input[type=submit] {
  color: #ffffff;
  background-color: #000000 !important;
  border-color: #000000 !important;
  border-radius: 0; }
  .btn-outline-primary:hover,
  .wpcf7 input[type=submit]:hover {
    color: #000000;
    background-color: #d2d2d2 !important;
    opacity: 0.7; }

.add_to_cart_button,
.product_type_variable {
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000 !important; }
  .add_to_cart_button:hover,
  .product_type_variable:hover {
    background-color: #ffffff !important;
    color: #000000 !important; }
  .add_to_cart_button:before,
  .product_type_variable:before {
    display: inline-block;
    font-family: FontAwesome;
    float: left;
    content: "\f290";
    font-weight: 300;
    margin-right: 10px; }

.yith-wcwl-add-to-wishlist {
  position: absolute;
  text-align: center;
  padding: 8px 27px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 15px;
  display: none;
  font-size: 16px; }
  .yith-wcwl-add-to-wishlist:hover a, .yith-wcwl-add-to-wishlist:hover:before {
    color: #000000 !important; }
  .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
    display: none; }

.add_to_wishlist:before {
  display: inline-block;
  font-family: FontAwesome;
  float: left;
  content: "\f004";
  font-weight: 300;
  margin: 1px 0 0 15px;
  color: #ffffff; }

.input-custom {
  padding: 10px 20px;
  font-family: "Novecentosanswide-Normal"; }

.input-search {
  border: 2px solid #000000;
  width: 1%;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important; }
  .input-search:hover {
    border: 2px solid #d2d2d269;
    width: 100%; }

.title-section {
  font-size: 2em;
  margin-bottom: 50px;
  display: block;
  position: relative; }
  .title-section:before {
    margin: 22px 0 0 -120px; }
  .title-section:after {
    margin: 22px 0 0 20px; }
  .title-section:before, .title-section:after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: #d2d2d269;
    position: absolute; }

.entry-header {
  padding: 20px 0 40px; }

#owl-slider-home .item {
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  #owl-slider-home .item img {
    height: 85vh;
    width: 100%;
    object-fit: cover; }

.owl-theme .owl-nav {
  z-index: 99;
  top: 0;
  color: #ffffff;
  margin-top: 16%;
  position: absolute;
  width: 100%;
  font-size: 80px; }
  .owl-theme .owl-nav .owl-prev,
  .owl-theme .owl-nav .owl-next {
    outline: none !important;
    background-color: transparent !important; }
    .owl-theme .owl-nav .owl-prev:hover,
    .owl-theme .owl-nav .owl-next:hover {
      color: #d2d2d269; }
  .owl-theme .owl-nav .owl-prev {
    left: 0;
    float: left; }
  .owl-theme .owl-nav .owl-next {
    right: 0;
    float: right; }

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  margin-top: -30px; }

.menu-icons .item-icon {
  display: inline-block !important;
  text-align: center; }

.menu-icons .icon-wishlist {
  width: 40px;
  margin-top: -9px; }

.menu-icons .icon-user {
  width: 40px; }

.menu-icons .icon-loupe {
  width: 34px;
  margin-top: -6px; }

.banner-home {
  position: relative;
  width: 100%; }
  .banner-home .logo {
    position: absolute;
    z-index: 99;
    margin: 30px;
    width: 250px; }

.menu-top .logo-fix {
  padding: 0;
  display: block; }

.menu-top .logo-fix-img {
  height: 60px;
  margin: auto; }

.logo-fix img:hover {
  opacity: 0.7; }

.button_container:hover span {
  opacity: 0.7; }

.top-bar .icon-ig {
  color: #b2b2b2;
  display: block;
  margin: 6px 0 0 10px; }
  .top-bar .icon-ig i {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    background-color: #4bbf5a;
    padding: 4px 5px;
    font-size: 20px; }

.cart-link {
  text-align: right;
  display: inline-block;
  right: 0;
  float: right;
  padding-top: 12px; }

/* menu */
.button_container {
  position: relative;
  height: 24px;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  margin: 16px 0; }
  .button_container:hover {
    opacity: .7;
    cursor: pointer; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #ffffff; }
  .button_container.active .middle {
    opacity: 0;
    background: #ffffff; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #ffffff; }
  .button_container span {
    background: #ffffff;
    border: none;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 1000; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      font-family: "Novecentosanswide-Normal"; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
    .overlay.open .button_container span {
      background-color: #ffffff; }
    .overlay.open .button_container.active {
      position: absolute;
      margin: 50px; }
  .overlay nav {
    position: relative;
    height: 50%;
    top: 10%;
    font-size: 50px;
    font-family: "Novecentosanswide-Normal";
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: auto;
      padding: 15px 0;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden;
        font-size: 3rem; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #b2b2b2;
          transition: .35s; }
        .overlay ul li a:hover {
          color: #b2b2b2; }

.menu-top a {
  color: #4bbf5a;
  font-weight: 700; }

.menu-top:after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background-color: #000000; }

.topo-text {
  text-align: right;
  padding: 3px 0 6px;
  margin: 0;
  font-family: "Novecentosanswide-Normal";
  font-size: 14px;
  color: #ffffff; }

.cart-link {
  position: relative; }
  .cart-link .qty {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    padding: 0 4px 1px 4px;
    margin: -7px 0 0 -1px;
    line-height: 18px;
    font-size: 14px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    z-index: 99;
    /*border: 1px solid $c-white;*/ }

.menu-fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%; }
  .menu-fixed .button_container.active {
    z-index: 1001; }

.list-header-categories {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0; }
  .list-header-categories .header-link-category .fa-circle {
    color: #000000 !important; }
  .list-header-categories li {
    margin: 0 15px 0 25px;
    position: relative; }
    .list-header-categories li:after {
      content: '●';
      display: inline-block;
      position: absolute;
      font-size: 10px;
      top: 0;
      right: 0;
      margin: 5px -22px 0 0; }
    .list-header-categories li:last-child:after {
      display: none; }
    .list-header-categories li a {
      font-size: 16px;
      color: #000000; }
      .list-header-categories li a:hover {
        opacity: 1;
        text-shadow: 1px 1px 1px black;
        /*text-decoration: line-through !important;*/ }
      .list-header-categories li a .fa-circle {
        padding-right: 15px;
        font-size: 12px;
        padding-top: 0;
        margin-top: 0; }

.list-dropdown {
  display: none !important;
  /*  @extend .trans;*/
  height: 0;
  overflow: hidden;
  text-align: left; }
  .list-dropdown .dropdpwn-list-item {
    padding: 5px 15px; }
    .list-dropdown .dropdpwn-list-item a {
      font-size: 1.8rem; }

.dropdown-custom .fa-caret-down {
  font-size: 2rem;
  margin-left: 10px; }

.dropdown-custom:hover .list-dropdown {
  display: block !important;
  height: auto; }

.header-container {
  border-bottom: 1px solid #000000;
  min-height: 60px; }

.dropdown-item {
  color: #000000 !important; }

.btn-dropdown-black {
  background-color: #000000;
  padding: 10px 20px 10px 30px;
  font-weight: 700; }
  .btn-dropdown-black:after {
    margin-left: 10px; }

.content-list-categories {
  padding: 4px;
  display: block;
  text-align: center; }
  .content-list-categories .fa-serfver {
    font-size: 12px; }

.btn-dropdown-categories {
  background-color: transparent;
  font-size: 12px; }
  .btn-dropdown-categories:after {
    display: none; }
  .btn-dropdown-categories .dropdown-menu {
    left: -60px !important;
    top: 10px !important; }
  .btn-dropdown-categories .cart-link {
    text-align: right; }

.form-search {
  margin: 0;
  padding: 0; }

/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 450px) {
  .dropdown-categories {
    display: block; }
  .list-header-categories {
    display: none; }
  .topo-text {
    font-size: 12px;
    text-align: center; }
  .content-menu .button_container {
    margin: 19px 5px 14px 5px; }
  .content-cart .cart-link {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-top: 3px; }
  .overlay.open .button_container.active {
    margin: 20px; } }

.mobile-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 97;
  max-height: 80px;
  padding-bottom: 5px; }
  .mobile-buttons .menu-icons {
    width: 100%; }
    .mobile-buttons .menu-icons li {
      height: auto;
      width: calc((100% / 3) - 3px);
      padding: 10px; }

@media (min-width: 320px) {
  .mobile-menu .mobile-menu-item a {
    font-size: 2rem; }
  .banner-home .logo img {
    max-height: 150px; }
  .menu-top .logo-fix {
    margin: 19px 10px 0 15px; }
  .menu-top .logo-fix-img {
    height: auto;
    margin: 16px auto 0;
    width: 100%;
    max-height: 40px; }
  .content-cart .cart-link {
    text-align: right;
    display: block;
    margin: 10px 5px;
    position: relative;
    width: auto;
    padding-top: 3px; }
    .content-cart .cart-link .qty {
      margin: -8px 0 0 -11px; } }

@media (min-width: 425px) {
  .menu-top .logo-fix-img {
    margin: -3px auto 0;
    width: auto;
    max-height: 30px; }
  .content-cart .cart-link {
    margin: 9px 5px; } }

@media (min-width: 768px) {
  .list-header-categories {
    display: block; }
  .dropdown-categories {
    display: none; }
  .hidden-desktop {
    display: none; } }

@media (min-width: 992px) {
  .banner-home .logo img {
    max-height: 300px; }
  .menu-top .logo-fix {
    margin: 20px auto 0; } }

@media (min-width: 1200px) {
  .menu-top .logo-fix {
    margin: 15px auto 0; } }

#page-home {
  min-height: 800px; }

.flex-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 350px);
  grid-gap: 20px; }
  .flex-grid .box-internal {
    grid-column-start: 1;
    grid-column-end: 6;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    position: relative; }
    .flex-grid .box-internal:hover {
      opacity: 0.6; }
    .flex-grid .box-internal .border-effect {
      display: block;
      position: absolute;
      border: 5px solid #ffffff;
      z-index: 99;
      top: 10px;
      right: 10px;
      bottom: 10px;
      left: 10px; }
    .flex-grid .box-internal:nth-child(odd) {
      grid-column-start: 6;
      grid-column-end: 11; }
    .flex-grid .box-internal:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 1;
      grid-row-end: 3;
      max-height: none; }
    .flex-grid .box-internal:nth-child(2), .flex-grid .box-internal:nth-child(3) {
      grid-column-start: 7;
      grid-column-end: 11; }
    .flex-grid .box-internal img.img-internal {
      object-fit: cover;
      display: block;
      min-width: 100%;
      transition: transform 200ms ease-in-out; }

.tag-box {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  padding: 4px 10px 8px;
  margin: 10px;
  position: absolute; }

.content-products-recentes {
  margin-top: 50px;
  margin-bottom: 50px; }

@media only screen and (max-width: 1366px) and (min-width: 1025px) {
  #wds_container1_0 #wds_container2_0 .wds_left-ico_0,
  #wds_container1_0 #wds_container2_0 .wds_right-ico_0 {
    font-size: 100px; }
  #wds_container1_0 #wds_container2_0 .wds_left_btn_cont,
  #wds_container1_0 #wds_container2_0 .wds_right_btn_cont {
    font-size: 100px !important; } }

@media (min-width: 320px) {
  .flex-grid {
    grid-template-rows: repeat(3, 250px); }
    .flex-grid .box-internal img {
      position: relative;
      min-height: 100%;
      width: auto; }
    .flex-grid .box-internal:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 1; }
    .flex-grid .box-internal:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 2;
      grid-row-end: 2; }
    .flex-grid .box-internal:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 12;
      grid-row-start: 3;
      grid-row-end: 3; } }

@media (min-width: 425px) {
  .flex-grid {
    grid-template-rows: repeat(3, 320px); }
    .flex-grid .box-internal {
      height: 320px !important; } }

@media (min-width: 768px) {
  .flex-grid {
    grid-template-rows: repeat(1, 280px);
    grid-gap: 10px; }
    .flex-grid .box-internal:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 3;
      min-height: 100%; }
    .flex-grid .box-internal:nth-child(2) {
      grid-row-start: 1;
      grid-row-end: 2; }
    .flex-grid .box-internal:nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 2; }
    .flex-grid .box-internal:nth-child(2), .flex-grid .box-internal:nth-child(3) {
      grid-column-start: 6;
      grid-column-end: 11;
      height: 280px !important; } }

@media (min-width: 992px) {
  .flex-grid {
    grid-template-rows: repeat(1, 320px);
    grid-gap: 10px; }
    .flex-grid .box-internal:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 7; }
    .flex-grid .box-internal:nth-child(2), .flex-grid .box-internal:nth-child(3) {
      grid-column-start: 7;
      grid-column-end: 11;
      height: 320px !important; } }

.wrapper-footer {
  background-color: #ffffff;
  padding: 10px 0;
  font-weight: 700; }

.icon-footer {
  display: inline-block; }
  .icon-footer svg {
    height: 4em; }

.footer-pre-info {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px 0;
  border-top: 2px dashed #e4e4e4;
  border-bottom: 2px dashed #e4e4e4;
  line-height: 15px;
  position: relative; }
  .footer-pre-info .text-icon {
    display: inline-block;
    font-size: 16px;
    padding: 0;
    margin: 0 0 0 20px;
    vertical-align: middle; }
    .footer-pre-info .text-icon small {
      font-size: 14px;
      color: #bbbbbb; }
  .footer-pre-info .text-box {
    display: inline-block; }

.footer-copyfight .icon-a {
  margin: 0 5px; }

.footer-links-content {
  margin-top: 60px;
  margin-bottom: 50px; }

.list-footer-social-icons .links:hover {
  opacity: 0.7; }

.list-footer-social-icons i {
  margin: 0 10px; }

.li-effect .link:hover {
  margin-left: 5px;
  font-weight: 700; }

.footer-list-links .li-effect:nth-child(odd) .link:hover {
  color: #4bbf5a; }

.footer-list-links .li-effect:nth-child(even) .link:hover {
  color: #b2b2b2; }

.list-footer-social-icons li:nth-child(even) a:hover {
  color: #4bbf5a; }

.list-footer-social-icons li:nth-child(odd) a:hover {
  color: #b2b2b2; }

/**
** @mediaqueries (responsive)
 */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 320px) {
  .footer-copyfight {
    font-size: 12px; }
  .box-icon {
    margin: 0 0 30px; }
    .box-icon .text-icon {
      max-width: 160px; }
  .footer-list-links {
    margin-bottom: 30px; }
  .footer-copyfight {
    font-size: 14px; } }

@media (min-width: 768px) {
  .box-icon .text-icon {
    max-width: inherit; }
  .box-icon .icon-footer {
    margin: 0 0 10px; } }

::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em; }

::-webkit-scrollbar-thumb {
  background: #000000;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important; }

::-webkit-scrollbar-track {
  background: #f2f2f2;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important; }

body {
  overflow-x: hidden;
  font-family: "Novecentosanswide-Normal";
  scrollbar-face-color: #000000;
  scrollbar-track-color: #f2f2f2; }
  body #loader {
    display: none;
    z-index: 9999; }
  body .bg-overlay {
    opacity: 1;
    background-color: #000000;
    z-index: 9998;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none; }
    body .bg-overlay #loader {
      opacity: 1;
      display: block; }
  body.loading .bg-overlay {
    display: inherit; }

a {
  outline: none !important;
  text-decoration: none !important;
  color: #000000; }
  a:hover {
    opacity: 0.8;
    cursor: pointer; }

.m-t-10 {
  margin-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.bold {
  font-weight: 700 !important; }

.content-site {
  padding: 50px 0 0; }

.hidden {
  display: none !important; }

.content-page {
  margin-top: 130px; }

.tooltip {
  font-family: "Novecentosanswide-Normal";
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  /* ... */ }

.tooltip-inner {
  max-width: 200px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px; }

.added_to_cart.wc-forward {
  display: none; }

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10vmin;
  margin-top: -10vmin;
  height: 10vmin;
  width: 10vmin;
  border-radius: 50%;
  border: 0.5vmin solid #d2d2d2;
  border-top-color: #000000;
  animation: spin 2s infinite linear; }

a.reset_variations {
  margin-left: 0;
  margin-top: 10px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media (min-width: 320px) {
  .wrapper {
    padding: 120px 0; } }

@media (min-width: 1200px) {
  .wrapper {
    padding: 30px 0; } }

.list-products .product-box {
  text-align: center;
  position: relative; }
  .list-products .product-box .box-details {
    visibility: hidden !important; }
  .list-products .product-box:hover img {
    opacity: 0.7; }
  .list-products .product-box:hover .box-details {
    visibility: visible !important; }
  .list-products .product-box:hover .add_to_cart_button,
  .list-products .product-box:hover .product_type_variable {
    display: inline-block;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .list-products .product-box:hover .add_to_cart_button:hover,
    .list-products .product-box:hover .product_type_variable:hover {
      background-color: #000000;
      color: #ffffff; }
  .list-products .product-box:hover .yith-wcwl-add-to-wishlist {
    display: inline-block; }
  .list-products .product-box .title-product {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 5px;
    color: #000000;
    margin-bottom: 0; }
  .list-products .product-box .price {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 5px;
    display: block;
    color: #000000;
    font-weight: 400;
    line-height: 10px; }
    .list-products .product-box .price .woocommerce-Price-currencySymbol {
      padding-right: 5px; }
  .list-products .product-box .add_to_cart_button,
  .list-products .product-box .product_type_variable {
    display: none;
    position: absolute;
    z-index: 99; }

.list-products .product-img img {
  margin: auto; }

.list-products .product-item {
  margin: 0 auto; }
  .list-products .product-item .description {
    height: 35px;
    display: block; }

.add-to-cart-container {
  width: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 40% 25%;
  border-color: #000000; }

.eqWrap {
  display: flex;
  width: 100%; }

.equalHMV {
  position: relative; }

.equalHMWrap {
  justify-content: space-between; }

.equalHMVWrap {
  flex-wrap: wrap; }

.yith-wcwl-add-to-wishlist .yith-wcwl-add-button {
  background-color: #000000;
  min-width: 149px;
  height: 43px;
  padding: 8px 5px 10px 15px;
  border: 2px solid #000000; }
  .yith-wcwl-add-to-wishlist .yith-wcwl-add-button:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000; }
    .yith-wcwl-add-to-wishlist .yith-wcwl-add-button:hover a.add_to_wishlist:before {
      color: #000000; }

.yith-wcwl-add-to-wishlist a {
  color: #ffffff; }

.yith-wcwl-wishlistexistsbrowse:before,
.yith-wcwl-wishlistaddedbrowse:before {
  display: inline-block;
  font-family: FontAwesome;
  float: left;
  content: "\f004";
  font-weight: 300;
  margin: 1px 0 0 15px;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 5px 10px 2px;
  border-radius: 50%;
  border: 2px solid #000000; }

.yith-wcwl-wishlistaddedbrowse .feedback,
.yith-wcwl-wishlistaddedbrowse a {
  display: none; }

@media (min-width: 250px) {
  .equalHMV {
    width: 100%;
    margin: 0 0 20px 0; } }

@media (min-width: 768px) {
  .equalHMV {
    width: 49%;
    margin: 1%; }
  .equalHMV:nth-of-type(2n) {
    margin-right: 0; }
  .equalHMV:nth-of-type(2n+1) {
    margin-left: 0; } }

@media (min-width: 992px) {
  .equalHMV {
    width: 32%;
    margin: 0 1%; }
  .equalHMV:nth-of-type(2n),
  .equalHMV:nth-of-type(2n+1) {
    margin: 0 1% 1%; }
  .equalHMV:nth-of-type(3n) {
    margin-left: 0; }
  .equalHMV:nth-of-type(3n+1) {
    margin-right: 0; } }

#billing_country_field {
  display: none; }

.woocommerce-checkout .form-row {
  width: 100%;
  margin-left: 0 !important; }
  .woocommerce-checkout .form-row label {
    width: 100%;
    padding: 0;
    margin: 0; }

.woocommerce-checkout .col-1,
.woocommerce-checkout .col-2 {
  width: 100%;
  max-width: 100%; }
  .woocommerce-checkout .col-1 .woocommerce-input-wrapper,
  .woocommerce-checkout .col-2 .woocommerce-input-wrapper {
    width: 100%; }

.woocommerce-checkout #shipping_country_field {
  display: none; }

.select2-container--default .select2-selection--single {
  background-color: #f2f2f2;
  box-shadow: inset 0 1px 1px;
  border-radius: 0 !important;
  padding: .5180469716em 0.618047em;
  height: 43px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px; }

.select2 .select2-container .select2-container--default {
  width: 100% !important; }

.woocommerce-terms-and-conditions-link {
  font-weight: 700;
  text-decoration: underline !important; }

/*# sourceMappingURL=tbbc.css.map */